<ng-container *ngIf="!isLoginPage(); else authOnly">
  <div class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-main-container main-panel " [class.collapsed]="sidebarCompact">
      <div class="pcoded-main-side">
        <app-sidebar [compact]="sidebarCompact"></app-sidebar>
      </div>
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-breadcrumbs [items]="navigationService.breadcrumbs()"></app-breadcrumbs>
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #authOnly>
  <router-outlet></router-outlet>
  <!-- Login route renders its own minimal layout -->
</ng-template>