// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              #f57c00 !default;
$brand-info:                 #0066cc !default;
$brand-success:              #ffca28 !default;
$brand-warning:              #ffad42 !default;
$brand-danger:               #bb4d00 !default;
$brand-rose:                 #ffad42 !default;
$brand-inverse:              #2c2c2c !default;
