<nav class="navbar pcoded-header navbar-expand-lg header-blue headerPos-fixed">
  <div class="m-header">
    <button mat-icon-button class="burger-toggle" aria-label="Toggle menu" (click)="burgerMenu.emit()">
      <i class="feather icon-menu"></i>
    </button>
    <a class="mobile-menu" href="javascript:void(0)" title="Toggle Sidebar" (click)="sidebarToggle()"><span></span></a>
    <a class="header-mobile-collapse" href="javascript:void(0)" (click)="sidebarToggle()">
      <i class="feather icon-menu"></i>
    </a>
    <a [routerLink]="['/dashboard']" class="b-brand">
      <img id="main-logo" src="assets/img/logo-dark.03d7eb6b.png" style="    width: 150px;" alt="logo-img"
        class="logo" />
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <span class="pcoded-micon burger-menu" (click)="burgerMenu.emit()">
      <i class="material-icons">menu</i>
    </span>
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i class="material-icons">home</i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">notifications</i>
          <span class="badge bg-danger">0</span>
        </a>
      </li>
      <li class="nav-item">
        <button class="nav-link" [matMenuTriggerFor]="userMenu" aria-label="User menu">
          <i class="material-icons">person</i>
        </button>
        <mat-menu #userMenu="matMenu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/profile'">
                <i class="material-icons">person</i>
                <span>My Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/change-password'">
                <i class="material-icons">lock</i>
                <span>Change Password</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">
                <i class="material-icons">logout</i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>