<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div>
              <h4 class="card-title">Employees</h4>
              <p class="card-category">Browse and manage everyone in the organization.</p>
            </div>
            <div class="card-header__actions">
              <button
                mat-stroked-button
                color="primary"
                class="btn"
                (click)="viewHierarchy()"
                aria-label="View employee hierarchy"
              >
                <mat-icon>account_tree</mat-icon>
                View hierarchy
              </button>
              <button mat-flat-button class="btn btn-primary" (click)="create()" aria-label="Add employee">
                <mat-icon>person_add</mat-icon>
                Add employee
              </button>
            </div>
          </div>
          <div class="card-body">
            <app-data-table
              [columns]="columns"
              [displayedColumns]="displayedColumns"
              [data]="items()"
              [total]="total()"
              [loading]="loading()"
              (queryChange)="onQueryChange($event)"
            >
              <ng-template #actions let-item>
                <button mat-icon-button color="primary" (click)="view(item)"><mat-icon>visibility</mat-icon></button>
                <button mat-icon-button color="primary" (click)="edit(item)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="warn" (click)="remove(item)"><mat-icon>delete</mat-icon></button>
              </ng-template>
            </app-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
